@import './colors.less';

@width-app-left: 6.6%;

@height-toolbar: 54px;
@height-player: 84px;

@shadow-app: 8px;

@radius-progress-border: 5px;
@radius-border: 3px;

@transition-slow: .6s ease;
@transition-normal: .4s ease;
@transition-fast: .3s ease;

@form-radius: 3px;

@gap: 24px;
@gap-md: 18px;
@gap-sm: 12px;